@page "/posts"
@inject HttpClient Http
@using LostUAL.Contracts.Posts
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<h3>Posts (demo)</h3>

@if (items is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="list-group">
        @foreach (var p in items)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <a href="" @onclick="() => OnPostClick(p)" @onclick:preventDefault="true">
                        @p.Title
                    </a>

                    <span class="badge bg-secondary">@p.Type</span>
                </div>
                <small>@p.Category · @p.Location · @p.DateApprox</small>
                <div>
                    <span class="badge bg-info">@p.Status</span>
                    <small class="text-muted ms-2">@p.CreatedAtUtc</small>
                </div>
            </div>
        }
    </div>

    <LoginGateModal Show="_showGate" Item="_selected" OnClose="CloseGate" />

}

@code {
    private List<PostListItemDto>? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<List<PostListItemDto>>("api/posts");
    }

    private bool _showGate;
    private PostListItemDto? _selected;

    private async Task OnPostClick(PostListItemDto p)
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var isAuthed = authState.User.Identity?.IsAuthenticated == true;

        if (isAuthed)
        {
            Nav.NavigateTo($"/posts/{p.Id}");
            return;
        }

        _selected = p;
        _showGate = true;
    }

    private Task CloseGate()
    {
        _showGate = false;
        _selected = null;
        return Task.CompletedTask;
    }

}
